@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "var";
@import "mixin";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $body-bg;
  font-family: "Poppins", sans-serif;
}

.card {
  border-collapse: separate;
  // border: 2px solid rgb(255, 255, 255);
  max-width: $card-max-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $card-bg;

  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;

  border-radius: 30px;
  border-collapse: separate;
  perspective: 1px;

  @media (max-width: 376px) {
    // max-width: $mobile-width;
    // border: 2px solid black;
    width: 80%;
  }

  @media (min-width: 377px) and (max-width: 400px) {
    width: 90%;
  }

  @media (min-width: 401px) and (max-width: 700px) {
    width: 85%;
  }
}

.lower-card {
  width: 100%;
  height: 42rem;
  background-color: $card-bg;
  // border: 2px solid white;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-collapse: separate;
  perspective: 1px;

  // shadow
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  .item {
    // border: 1px solid black;

    text-align: center;
  }

  .item1 {
    margin-top: 5rem;
    h2 {
      font-size: 2.3rem;
      color: $col1;
    }
  }

  .item2 {
    margin-top: 1.5rem;
    p {
      font-size: 1.2rem;
      font-weight: 700;
      color: $col3;
    }
  }

  .item3 {
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    width: 80%;
    padding: 1.6rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 223, 255);

    .left-items {
      display: flex;
      align-items: center;
      // border: 1px solid lime;
      width: 60%;

      .item3_1 {
        margin-right: 2rem;

        img {
          width: 40px;
          height: 40px;

          @media (max-width: 376px) {
            width: 29px;
            height: 29px;
          }
        }
      }

      .item3_2 {
        align-self: flex-start;
        font-size: 1.2rem;
        h3 {
          color: $col1;
          @media (max-width: 376px) {
            font-size: 1rem;
          }
        }
        h5 {
          font-size: 1.4rem;
          font-weight: 400;
          color: $col2;
          @media (max-width: 376px) {
            font-size: 1rem;
          }
        }

        @media (max-width: 376px) {
          font-size: 0.5rem;
          align-self: center;
        }
      }
    }

    .right-items {
      // border: 1px solid coral;
      display: flex;

      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 500;
        color: $col2;

        transition: color 0.2s ease-in;

        &:hover {
          color: blue;
        }

        @media (max-width: 376px) {
          font-size: 1rem;
        }

        // padding: 1.3rem;
      }
    }
  }

  .item4 {
    cursor: pointer;
    margin-top: 2.4rem;
    width: 80%;
    padding: 1.5rem;
    border-radius: 10px;

    background-color: $col3;
    a {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600;
      color: white;
      box-shadow: 0px;

      transition: box-shadow 0.4s ease-in-out;
    }

    &:hover {
      // background-color: $col4;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
  }

  .item5 {
    margin-top: 3rem;
    button {
      border: none;
      outline: none;
      border-width: 0;
      background: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.5rem;
      color: $col1;
    }
  }
}

.head-img img {
  width: 100%;
  display: inline-block;
  margin: 0%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-collapse: separate;
  perspective: 1px;
}
